<!doctype html>
<html  class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/base::head(~{::title},~{},~{})}"></head>
<title>宿舍管理系统</title>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">欢迎同学
                        <span class="x-red">[[${session.loginStudentName}]]</span>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>