<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neepa.mapper.StudentMapper">
    <select id="selectStudentVoListByCondition" resultType="com.neepa.vo.StudentVO">
        SELECT s.*,d.*,d.id as dormitory_id,b.name as building_name
        FROM student s
        LEFT JOIN dormitory d on s.dormitory_id = d.id
        LEFT JOIN building b on d.building_id = b.id
        <where>
            <if test=" !''.equals(id) ">
                s.id = #{id}
            </if>
            <if test=" !''.equals(name) ">
                AND s.name LIKE '%${name}%'
            </if>
            <if test="sex!=null">
                AND s.sex = #{sex}
            </if>
            <if test=" !''.equals(phone) ">
                AND s.phone = #{phone}
            </if>
        </where>
    </select>
</mapper>